/*

    
    Author     : Barth.Thoralf
*/

* {
    box-sizing: border-box;
}


body {
    
    margin: 0;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    height: 80px;
    background-color: #abc;
    overflow: hidden;
    
    /***** Perfect Center *****/
    display: flex;
    justify-content: center;
    align-items: center;
} 

#top h1 {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 10px;
    
}

#wrapper {
    display: none;
}

/****************************************************************************/
/************ Navigation Normal ************/

#main_nav {
    background-color: darkblue;
    display: flex;
    justify-content: flex-end;
}

#hamMenu {
    width: 40px;
    height: auto;
    cursor: pointer;
    
}



#main_nav ul {
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: darkblue;
    _border: 1px solid red;
    
}

#main_nav ul li {
    _border: 1px solid green;
}

#main_nav ul li a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: white;
    
    padding: 5px 20px;
    width: 150px;
}

#main_nav ul li:hover {
    background-color: #0000ab;
}

/****************************************************************************/
/********** Div formatieren **********/

#templates > div {
    display: none;
}

.current_weather {
    border: 1px solid silver;
    border-radius: 5px;
    min-height: 100px;
    background-color: #eeeeaa;
}

.current_weather h2 {
    color: white;
    background-color: darkblue;
}

.current_weather img {
    float: left;
    width: 30%;
    height: auto; 
    margin: 0;
    margin-right: 5%;
    
    /* - für Version mit Anzeige von Teilausschnitten
    position: absolute;
    clip: rect(0px, 180px, 120px, 0px);
    width: 500px;
    */
}


/*  - für Variante der Anzeige von Teilausschnitten
.relative {
    position: relative;
    width: 80px;
    height: 80px;
}
*/

.temperature {
    font-size: 2.0em;
    display: block;
    margin-left: 20%;
}

.description {
    font-size: 1.4em;
    display: block;
    margin-left: 20%;
}

.weatherIcon {
    width: 15%;
    
}

.showWrapper {
    display: flex;
}

.relative {
    width: 80%;
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    */
    _margin-left: 3%;
    
}

#locationWrapper {
    clear: both;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33,33,33,0.5);
    _z-index: 100;
}

#locationContainer {
    position: absolute;
    padding: 5% 0;
    width: 50%;
    top: 5em;
    left: 25%;
    background-color: rgba(66,66,66,0.9);
}

.questionLocation {
    display: none;
    margin-left: 10%;
    color: #ddd;
}

.selectLocation {
    display: none;
    margin-left: 10%;
    width: 60%;
}


/******************************************************************************/
/**********************  Mobile - Formate  ************************************/

#main_nav ul {
    width: 30%;
    min-width: 135px;
    display: none;
}



/******************************************************************************/

@media screen and (min-width: 700px) {
    
    #hamMenu {
        display: none;
    }
    
    #main_nav ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #main_nav ul li a {
        text-align: center;
    }
    
    .temperature {
    display: inline-block;
    margin-left: 0;
    }
    .description {
        display: inline-block;
        margin-left: 5%;
        
    }
    
}

/******************************************************************************/

@media screen and (min-width: 992px) {
    
    #wrapper {
        width: 66%;
        margin: 0 auto;
    }
    
    
    
    
}


/******************************************************************************/
/**********  Toggle-Menu für Mobile-Version  ***********/
#main_nav > ul.visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 2px #000060;
}

#main_nav.visible {
    /* justify-content: space-between; */
    position: relative;
    width: 100%;
}




